<h1><%= @landmark.name %></h1>
<h2>Year completed: <%= @landmark.year_completed %></h2>
<br>
<a class="button" href="/landmarks/<%= @landmark.id %>/edit">Edit Landmark</a>
<a class="button" href="/landmarks">Landmarks</a>
